.locations{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.location{
  flex-basis: 28%;
  margin: 1em;
  padding: 1em;
  background-color: rgb(183, 215, 226);
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px -16px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px -16px rgba(0,0,0,0);
}

.locations__header{
  margin-top: 50px;
  text-align: center;
  color: #000000;
  background: #FFFFFF;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
  color: #000000;
  background: #FFFFFF;
  background-color: floralwhite;
}

.location:hover{
  flex-basis: 30%;
  border: 3px solid goldenrod
}