.productTypes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ProductTypes__header{
  margin-top: 50px;
  text-align: center;
  color: #000000;
  background: #FFFFFF;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
  color: #000000;
  background: #FFFFFF;
  background-color: floralwhite;
}

.productType{
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    text-align: center;
    background-color: rgb(183, 215, 226);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px -16px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px -16px rgba(0,0,0,0);
}

.productType:hover{
  border: 3px solid goldenrod;
  flex-basis: 30%;
}