.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  flex-basis: 30%;
  background-color: plum;
  border-radius: 15px;
}

.navHeader{
  color: #000000;
background: #FFFFFF;
text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
color: #000000;
background: #FFFFFF;
background-color: plum;
}

.navbar__item {
  flex-basis: 20%;
  text-align: center;
  list-style-type: none;
  border: 1px solid rgb(77, 69, 69);
  border-radius: 4px;
  margin: 25px;
  padding: 5px;
  background-color: chartreuse;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px -16px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px -16px rgba(0,0,0,0);
}